<div class="w-1/3 flex flex-col m-5 shadow-lg">
  <div class="bg-white p-5 mt-5">
    <div class="flex flex-row w-full">
      <div class="flex-1 text-lg font-bold text-gray-700">
        <h1>Edit Item</h1>
      </div>
    </div>
  </div>
<%= render "form.html", Map.put(assigns, :action, Routes.item_path(@conn, :update, @item)) %>
</div> 
