<body class='bg-gray-300'>


  <%= render PaymongoExampleWeb.SharedView, "_sidenav.html", conn: @conn %>   
  <main>
  <%= render PaymongoExampleWeb.SharedView, "_topnav.html", conn: @conn %>   
    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    <%= render @view_module, @view_template, assigns %>
  </main>
</body>
